body {
  font-family: 'Dosis', sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
}

.app-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 25%;
  background-color: #E2E8F0;
  padding: 2rem;
  text-align: center;
  border-right: #f56e1a solid 1px;


  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100vh;
}

.sidebar nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.sidebar nav a {
  
  display: inline-block; 
  margin: 1rem 0;
  color: rgb(2, 20, 72);
  text-decoration: none;
  font-size: 1.2rem;
  position: relative;
  font-weight:lighter
}

.sidebar nav a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #f06209;
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-out;
}

.sidebar nav a:hover::after {
  transform: scaleX(1);

}

.profile-pic {
  border-radius: 50%;
  border: #f06209 solid 3px;
  width: 250px;
  height: 250px;
}


.content {
  width: 75%;
  padding: 2rem;
  background-color: #f9f9f9;
}

.home-container,
.about-container,
.contact-container {
  padding: 2rem;
  background-color: #f9f9f9;
}

.home-container img {
  border-radius: 50%;
  border: 5px solid #ff5733;
}

.social-links a {
  margin-right: 20px;
  color: #333;
  text-decoration: none;
}

.social-links a:hover {
  color: #ff5733;
}

.project-card {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}


.card-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.cv-download {
  display: flex;
  color: rgb(5, 21, 67);
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  font-size: 1.2rem;
  margin-top: 2rem;
}

.cv-download:hover {
  color: #ff0000;
}

.cv-icon {
  color: #ff0000;
}